.box-center {
    margin: 22% auto;
    width: 350px;
    border: 0px solid #333;
}
.dropdown-item {
    color:gray;
    font-weight: 100;
}
.search {
    color: gray
}

.footer {
    color: gray;
    text-align: right;
    padding: 1.5%; 
}